/* home banner */
.banner-slide {
  position: relative;
  height: 100vh;
}
@media (min-width:767px)
{
.banner-slide
{
  
  height: 100vh;

}
}
@media (max-width:567px)
{
  .banner-slide {
    height: 80vh ;
  }
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.banner .slick-arrow.slick-prev
{
left: 94% !important;
}
.banner .slick-next
{
  top: 90% !important;
}
.banner .slick-prev:before, .banner .slick-next:before {
  background-color: #0e6e4e !important;
  padding: 5px 5px;
  opacity: 1;
  }
  .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .banner-content.active {
    opacity: 1;
  }
  
.banner-content h1
{
  align-items: center;
  color: #fff;
  font-size: 50px;
  font-weight: 900;
  justify-content: center;
  line-height: 50px;
  margin-bottom: 20px;
  white-space: pre-line;
}

.banner-cover {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.banner-slide::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #000000a6, #000000a6);
  z-index: 1;
}
.marquee
{
  background-color:#ffffff ;
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
}
.marquee.top
{
    display: inline-block;
    white-space: nowrap;
    background-color: #D9D9D9;
    color: #ffffff;
    border-radius: 0 25px 25px 0;
}
 .marquee-cont
{
  padding: 9px 15px 9px 15px;
  font-weight: bold;
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  background-color:#0e6e4e !important;
  border-radius: 0 25px 25px 0;
}
.marquee-cont:hover{
  background-color: #0e6e4e !important;
  color: #fff;
}
.marquee a
{
  color: #2a5285 !important;
  text-decoration: none !important;
  margin: 0px 5px;
}
/* /home banner */
