.slick-arrow.slick-next
{
    right: 27px !important;
}
.slick-arrow.slick-prev
{
left: 10px !important;
}
.slick-prev, .slick-next
{
    top: 50% !important;
}

.slick-slide .blog-slide-img
{
    height: 280px;
    margin-top:  15px;
    opacity: 0.5;
}
.slick-slide.slick-active.slick-current .blog-slide-img
{
    height: 300px;
    margin-top:  0px ;
    transition: transform all 3s;
    opacity: 1;
}
.btn-read-more
{
    background-color: #0e2037;
    color: #fff;
    padding: 10px 15px;
    width: 50%;
    margin-top: 25px;
    border-radius: 35px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 2px;
    border: none;
}
.btn-read-more:hover
{
    transform:scale(1);
}
.slick-dots li.slick-active button:before
{
    background: #963a2f !important;
    width: 20px;
    margin-right: 10px ;
    height: 3px;
     
}
.slick-dots li button:before
{
    content: '' !important; 
    width: 10px;
    height: 3px;
    margin-top: 20px;
    border-radius: 50px !important;
    background-color: #66666c;}
.slick-prev:before, .slick-next:before {
background-color: #0e2037;
}