.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #2a5285 !important;
  color: #f6ebeb !important;
}

.social img {
  margin: 10px;
  width: 20px;
}
.socialMedia svg {
  color: white;
  margin: 20px;
  font-size: 70px;
  cursor: pointer;
}

.footer p {
  color: #fff !important;
  opacity: 0.8;
  font-size: 1rem; 
  margin-bottom: 20px;
}
.logo {
  margin-bottom: 10px;
  height: 100px;}
.sec-dec {
  margin-bottom: 30px;
}

.footer-contact {
  display: block;
  list-style: none;
  padding: 0px 0px 0px 20px;
}
.footer-contact li {
  padding: 6px 0px;
  color: #fff;
  list-style: circle;
  opacity: 0.8;
}
.footer-contact li.active {
  color: #fff;
  opacity: 1;
}
.widget-title {
  font-size: 22px;
  line-height: 33px;
  font-weight: 800;
}
.contact-right {
  padding: 10px 0px;

  display: block;
}
.contact-right li {
  display: block;
  list-style: none;
  margin-bottom: 20px;
}
.contact-right li a {
  color: #fff !important;
  opacity: 0.8;
  display: inline-flex;
  font-size: 1rem;
}
.footer-contact li:hover {
  color: #fff;
  opacity: 1 !important;
}
