.gallery .gallery-image 
{
  height: 250px;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  transition: all .65s ease-in-out;
}
 .gallery .card-content
{
/* box-shadow: 3px 3px 3px 3px #d1d0d0 !important; */
padding: 0px 10px 5px;
}
.gallery .gallery-card
{
  background-color: aliceblue;
  border-radius: 5px;
box-shadow:4px 4px 14px 5px #d1d0d0 !important;
}
.visually-hidden
{
  display: none;
}
.gallery .gallery-card .card-img
{
  position: relative;
  overflow: hidden ;
}
.gallery .gallery-card:hover .gallery-image
{
 transform: scale(1.1);
 cursor: zoom-in;

}