.gallery .gallery-image 
{
  height: 200px;
  max-width: 100%;
  width: 100%;
}
 .gallery .card-content
{
/* box-shadow: 3px 3px 3px 3px #d1d0d0 !important; */
padding: 0px 10px 5px;
}
.gallery .gallery-card
{
  background-color: aliceblue;
  border-radius: 5px;
box-shadow:4px 4px 14px 5px #d1d0d0 !important;
}
.visually-hidden
{
  display: none;
}