


:root {
	--mainColor: #2a5285 ;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--mainColor);
	color: var(--textColor);
}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
	transition: all 0.3s ;}

nav a:hover {
	color: var(--secondaryColor);
	list-style: none;
	text-decoration: none;
	transform: translateX(2px);
	
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}
header .header-logo
{
    height: 80px;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -110vh;
		right: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
        background-color: #29335c !important;
		transition: 1s;
		z-index: 9;
	}

	header .responsive_nav {
		transform: translateY(109vh);
		height: 110vh;
	}
	.header .responsive_nav body
	{
		overflow: hidden;
	}
	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}
header .nav{
    padding: 13px 40px !important;
}
header .dropdown .dropdown-toggle, header .dropdown .dropdown-toggle:focus-visible

{
	background-color: transparent;
	color: white;
	border: none !important;
	outline: none;
}
@media only screen and (max-width: 1024px)
{
	header .dropdown .dropdown-toggle, header .dropdown .dropdown-toggle:focus-visible
{
	font-size: 1.5rem !important;

}
}
 .dropdown-menu .dropdown-item
{
	padding: 0.35rem 0.45rem !important;
	margin: 0px;
}
.dropdown-item:hover, .dropdown-item:focus
{
	background-color: transparent !important;
	color: #db2b39 !important;
}