
.page_banner {
  padding: 120px 0px;
  background-image: url(../assets/img/home/banner.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center ;
  position: relative;
}

.content {
  position: relative;
  opacity: 1;
  z-index: 1;
}
.page_banner::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(180deg, #000000a1, #0000008e);
}